<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>==title==</title>
    <meta name="description" content="==mdescr==">
    ==ex_meta_taga==
    <meta name="author" content="==company==">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta http-equiv="cleartype" content="on">
    <meta property="og:title" content="==og_title=="/>
    <meta property="og:description" content="==mdescr=="/>
    <meta property="og:url" content="==og_url=="/>
    <meta property="og:image" content="==og_image=="/>
    <meta property="og:site_name" content="==company=="/>

    <link rel="shortcut icon" href="==favicon_path==">
    <link rel="stylesheet" href="==css_path==">
    <!-- <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i|Raleway:400,500,700" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Noto+Sans|Noto+Serif|Vollkorn|Abril+Fatface|Arvo|Lato|Ubuntu|PT+Sans|PT+Serif|Oxygen|Raleway|Playfair+Display" rel="stylesheet"> -->
    <link href="==webfont_import==" rel="stylesheet">
    <script  src="==modernizr_path=="></script>

    ==webfont_headings==
    ==webfont_text==
    ==js_code_head_close==
    ==page_js_code_head_close==

</head>
<body==body_cls==>
    ==js_code_body_open==
    ==page_js_code_body_open==
    ==body_html==
       <header id="header" class="header-fixed-top">
        <div class="company-logo">
          ==company_logo==
        </div>
        <div class="header__upper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 mob-col-fix">
                      <a href="#primary-nav" class="nav-toggle header__nav-toggle hidden-lg">
                            <span></span>
                            <span></span>
                            <span></span>
                      </a>
                      <div class="col-xs-12 hidden-lg visible-md visible-sm visible-xs">
                        <nav class="header__nav">
                            ==nav-main==
                        </nav>
                      </div>
                      ==contact_details==
                      ==booking-btn==
                    </div>
                </div>
            </div>
        </div>

        <div class="header__lower">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 visible-lg hidden-md hidden-sm hidden-xs">
                        <nav class="header__nav">
                            ==nav-main==
                        </nav>
                    </div>
                </div>

            </div>
        </div> 
    </header>


    ==slideshow_view==
    <main id="main">
    ==sub_nav_view==
    <section class="intro">
          <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div class="main__intro">
                            <span class="motif"></span>
                            <hr class="line">
                            <h1 class="main__intro--heading">==heading==</h1>
                            ==sub-heading==
                            <p class="main__intro--desc">==introduction==</p>
                        </div>
                    </div>
                </div>
                <div class="content">
                    ==content==
                </div>
            </div>
        </div>
    </section>
    ==mod_view==
    ==tours_view==
    ==map_view==
    ==gallery_view==


    </main><!-- #main -->

    <footer>
      <div class="partner-logo">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              ==partnerlogos==
            </div>
          </div>
        </div>
      </div>
      
      <div class="reviews">
        <div class="container">
          <div class="row">
              ==testimonial_view==

          </div>
        </div>
      </div>
      
      <div class="newsletter">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              ==newsletter_view==
            </div>
          </div>
        </div>
      </div>

      <div class="other-info">
        <div class="container">
          <div class="row">
            <div class="col-sm-4 col-xs-12">
              <div class="contact-info">
                <h2>==footer_contact_heading==</h2>
                ==company_email_address_footer==
                ==phone_number_footer==
                
              </div>
            </div>
            
            <div class="col-sm-4 col-xs-12">
              <div class="social-links">
                <h2>==footer_social_media_heading==</h2>
                ==social==
              </div>
            </div>
            
            <div class="col-sm-4 col-xs-12">
              <div class="copyright-credit">
                <p>==copyright==</p>
                <p>==credits==</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer__nav">
        <div class="container-fluid footer-nav-bar">
          <div class="row">
            <div class="col-xs-12">
              ==footer_nav==
            </div>
          </div>
        </div>
      </div>
      
    </footer>
    ==body_view==
    ==scripts-load-top==
    ==jsVars==
    <script src="==vender_js_path=="></script>
    ==script-ext==
    <script async src="==js_path==" onload="app.init();"></script>
    ==js_code_body_close==
    ==page_js_code_body_close==
</body>
</html>
